.header {
    color: $yellow;
    border: 2px solid $yellow;
    background-color: $white;
    position: absolute;
    top: -85px;
    left: -200px;
    width: 200px;
    height: 200px;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
        color: $white;
        background-color: $yellow;
    }

    &.active {
        color: $white;
        background-color: $yellow;
    }
}

.footer {
    position: absolute;
    top: -175px;
    right: 0;
    width: 240px;
    height: 240px;

    @media (max-width: $md) {
        top: -130px;
        width: 150px;
        height: 150px;
    }
}

.intro-cta {
    z-index: 2;
    position: absolute;
    bottom: -160px;
    left: 0;
    width: 240px;
    height: 240px;

    @media (max-width: $md) {
        bottom: -100px;
        width: 150px;
        height: 150px;
    }
}

.diensten-cta {
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 240px;
    height: 240px;

    @media (max-width: $md) {
        bottom: 70px;
        width: 150px;
        height: 150px;
    }
}

.cta {
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 32px;
    border-radius: 500px;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: $md) {
        font-size: 20px;
    }
}

.button {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    padding: 15px 45px;
    border-radius: 10px;
}

.yellow {
    background-color: $yellow;
    color: $dark-grey;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: $yellow-hover;
    }
}

.blue {
    background-color: $blue;
    color: $white;

    &:hover {
        background-color: $blue-hover;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $blue-hover;
        }
    }
}