.footer-wrapper {
    background: $white;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        max-width: 1200px;

        &--left {
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 20px;
        }

        &--right {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 20px;
        }
    }
}