.navbar-wrapper {
    z-index: 20;
    position: relative;

    &__top {
        padding: 25px 0 10px 0;
        text-align: center;
    }

    &__bottom {
        padding: 20px 0;
        background-color: $yellow;

        &--inner {
            position: relative;
            display: flex;
            margin: auto;
            max-width: 1200px;
            justify-content: space-between;

            #menu-header-menu {
                display: flex;
                list-style-type: none;
                gap: 50px;

                li {
                    display: inline;
                    gap: 50px;

                    a {
                        color: $dark-grey;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }

            .header-cta {
                position: relative;
            }
        } 
    }
}