.navbar-wrapper {
    z-index: 20;
    position: relative;

    &__top {
        padding: 25px 40px 10px;
        text-align: center;
    }

    &__bottom {
        padding: 20px 10px;
        background-color: $yellow;

        &--inner {
            position: relative;
            display: flex;
            margin: auto;
            max-width: 1200px;
            justify-content: space-between;

            .nav {
                display: flex;
                gap: 50px;

                @media (max-width: $md) {
                    gap: 25px;
                }

                i {
                    color: $dark-grey;
                    transition: color 0.2s ease-in-out;

                    &:hover,
                    &:focus {
                        color: $white;
                    }
                }

                #menu-header-menu {
                    display: flex;
                    list-style-type: none;
                    gap: 50px;

                    @media (max-width: $md) {
                        gap: 25px;
                    }
    
                    li {
                        display: inline;
                        gap: 50px;
    
                        &.current-menu-item a {
                            color: $white;
                        }
    
                        a {
                            color: $dark-grey;
                            text-transform: uppercase;
                            font-weight: 600;
                            transition: color 0.2s ease-in-out;
    
                            &:hover,
                            &:focus,
                            &:active {
                                color: $white;
                            }
                        }
                    }
                }
            }

            .header-cta {
                position: relative;
            }
        } 
    }
}