.display {
  font-size: 56px;
  line-height: 150%;
  font-weight: 800; }
  @media (max-width: 1024px) {
    .display {
      font-size: 34px; } }

h1 {
  font-size: 42px;
  line-height: 130%;
  font-weight: 700; }
  @media (max-width: 1024px) {
    h1 {
      font-size: 28px;
      line-height: 150%;
      font-weight: 800; } }

h2 {
  font-size: 32px;
  line-height: 130%;
  font-weight: 700; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 24px;
      line-height: 150%;
      font-weight: 700; } }

h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 800; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 20px;
      line-height: 150%;
      font-weight: 800; } }

p {
  margin: 18px 0;
  font-size: 18px;
  line-height: 150%;
  font-weight: 300; }
  @media (max-width: 1024px) {
    p {
      margin: 16px 0;
      font-size: 16px;
      line-height: 150%; } }

.p-small {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600; }

.quote {
  font-size: 32px;
  line-height: 150%;
  font-weight: 200; }
  @media (max-width: 1024px) {
    .quote {
      font-size: 20px;
      line-height: 150%;
      font-weight: 300; } }

blockquote p {
  margin: 32px 0;
  font-size: 32px;
  line-height: 150%;
  font-weight: 200; }
  @media (max-width: 1024px) {
    blockquote p {
      margin: 20px 0;
      font-size: 20px;
      line-height: 150%;
      font-weight: 300; } }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  position: relative;
  font-family: "Poppins", sans-serif; }

a {
  color: #17181B;
  text-decoration: none; }

.header {
  color: #FFBE55;
  border: 2px solid #FFBE55;
  background-color: #fff;
  position: absolute;
  top: -85px;
  left: -200px;
  width: 200px;
  height: 200px;
  transition: all 0.2s ease-in-out; }
  .header:hover, .header:focus {
    color: #fff;
    background-color: #FFBE55; }
  .header.active {
    color: #fff;
    background-color: #FFBE55; }

.footer {
  position: absolute;
  top: -175px;
  right: 0;
  width: 240px;
  height: 240px; }
  @media (max-width: 1024px) {
    .footer {
      top: -130px;
      width: 150px;
      height: 150px; } }

.intro-cta {
  z-index: 20;
  position: absolute;
  bottom: -160px;
  left: 0;
  width: 240px;
  height: 240px; }
  @media (max-width: 1024px) {
    .intro-cta {
      bottom: -100px;
      width: 150px;
      height: 150px; } }

.diensten-cta {
  z-index: 20;
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 240px;
  height: 240px; }
  @media (max-width: 1024px) {
    .diensten-cta {
      bottom: 70px;
      width: 150px;
      height: 150px; } }

.cta {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 32px;
  border-radius: 500px;
  font-weight: 500;
  text-transform: uppercase; }
  @media (max-width: 1024px) {
    .cta {
      font-size: 20px; } }

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: 15px 45px;
  border-radius: 10px; }

.yellow {
  background-color: #FFBE55;
  color: #17181B;
  transition: background-color 0.2s ease-in-out; }
  .yellow:hover {
    background-color: #F8A928; }

.blue {
  background-color: #1579C7;
  color: #fff; }
  .blue:hover {
    background-color: #1562A3;
    transition: background-color 0.2s ease-in-out; }
    .blue:hover:hover {
      background-color: #1562A3; }

.footer-wrapper {
  padding: 55px 40px;
  z-index: 1;
  background-color: #fff; }
  .footer-wrapper__inner {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: auto;
    max-width: 1200px; }
    @media (max-width: 1024px) {
      .footer-wrapper__inner {
        grid-template-columns: 1fr; } }
    .footer-wrapper__inner--left {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 20px; }
      @media (max-width: 1024px) {
        .footer-wrapper__inner--left {
          justify-content: start; } }
    .footer-wrapper__inner--right {
      z-index: 1;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: start;
      padding: 20px;
      gap: 15px; }
      .footer-wrapper__inner--right p {
        margin: 0;
        font-size: 14px;
        line-height: 150%;
        font-weight: 600; }

.navbar-wrapper {
  z-index: 20;
  position: relative; }
  .navbar-wrapper__top {
    padding: 25px 40px 10px;
    text-align: center; }
  .navbar-wrapper__bottom {
    padding: 20px 10px;
    background-color: #FFBE55; }
    .navbar-wrapper__bottom--inner {
      position: relative;
      display: flex;
      margin: auto;
      max-width: 1200px;
      justify-content: space-between; }
      .navbar-wrapper__bottom--inner .nav {
        display: flex;
        gap: 50px; }
        @media (max-width: 1024px) {
          .navbar-wrapper__bottom--inner .nav {
            gap: 25px; } }
        .navbar-wrapper__bottom--inner .nav i {
          color: #17181B;
          transition: color 0.2s ease-in-out; }
          .navbar-wrapper__bottom--inner .nav i:hover, .navbar-wrapper__bottom--inner .nav i:focus {
            color: #fff; }
        .navbar-wrapper__bottom--inner .nav #menu-header-menu {
          display: flex;
          list-style-type: none;
          gap: 50px; }
          @media (max-width: 1024px) {
            .navbar-wrapper__bottom--inner .nav #menu-header-menu {
              gap: 25px; } }
          .navbar-wrapper__bottom--inner .nav #menu-header-menu li {
            display: inline;
            gap: 50px; }
            .navbar-wrapper__bottom--inner .nav #menu-header-menu li.current-menu-item a {
              color: #fff; }
            .navbar-wrapper__bottom--inner .nav #menu-header-menu li a {
              color: #17181B;
              text-transform: uppercase;
              font-weight: 600;
              transition: color 0.2s ease-in-out; }
              .navbar-wrapper__bottom--inner .nav #menu-header-menu li a:hover, .navbar-wrapper__bottom--inner .nav #menu-header-menu li a:focus, .navbar-wrapper__bottom--inner .nav #menu-header-menu li a:active {
                color: #fff; }
      .navbar-wrapper__bottom--inner .header-cta {
        position: relative; }

body.page-template-contact .hero {
  padding: 100px 40px 0;
  z-index: 2;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-contact .hero {
      padding: 50px 40px 0; } }
  body.page-template-contact .hero__inner {
    max-width: 1200px;
    margin: auto; }
    body.page-template-contact .hero__inner--content {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      body.page-template-contact .hero__inner--content img {
        position: relative;
        height: 270px;
        align-self: center; }
        @media (max-width: 1024px) {
          body.page-template-contact .hero__inner--content img {
            height: auto;
            width: 385px; } }

body.page-template-contact .contactinfo {
  z-index: 1;
  margin-top: -200px;
  color: #fff;
  position: relative;
  padding: 300px 40px 250px; }
  @media (max-width: 1024px) {
    body.page-template-contact .contactinfo {
      margin-top: -150px;
      padding: 200px 40px 150px; } }
  body.page-template-contact .contactinfo::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% calc(100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-contact .contactinfo::after {
        clip-path: polygon(0 100px, 100% 0%, 100% calc(100% - 100px), 0% 100%); } }
  body.page-template-contact .contactinfo__inner {
    max-width: 1200px;
    margin: auto; }
    body.page-template-contact .contactinfo__inner h1 {
      margin-bottom: 20px;
      text-align: center; }
    body.page-template-contact .contactinfo__inner--content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px; }
      body.page-template-contact .contactinfo__inner--content .left {
        display: flex;
        position: relative;
        flex-flow: column;
        gap: 40px; }
        body.page-template-contact .contactinfo__inner--content .left .contactgegevens {
          display: grid;
          grid-template-columns: 20% 80%; }
          body.page-template-contact .contactinfo__inner--content .left .contactgegevens p {
            margin: 0; }
          body.page-template-contact .contactinfo__inner--content .left .contactgegevens .icon {
            display: flex;
            justify-content: center;
            align-items: center; }
            body.page-template-contact .contactinfo__inner--content .left .contactgegevens .icon img {
              max-height: 50px; }
      body.page-template-contact .contactinfo__inner--content .right {
        width: 100%; }
        body.page-template-contact .contactinfo__inner--content .right p {
          margin: 0; }

body.page-template-contact .contactform {
  z-index: 0;
  margin: -210px 0;
  padding: 300px 40px 200px;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-contact .contactform {
      padding: 250px 40px 250px; } }
  body.page-template-contact .contactform::after {
    z-index: -1;
    content: '';
    background-color: #FFBE55;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0, 100% calc(100% - 150px), 0% 100%); }
  body.page-template-contact .contactform__inner {
    max-width: 700px;
    margin: auto; }
    body.page-template-contact .contactform__inner h1 {
      margin-bottom: 30px;
      text-align: center; }
    body.page-template-contact .contactform__inner--content {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      body.page-template-contact .contactform__inner--content form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; }
        body.page-template-contact .contactform__inner--content form input,
        body.page-template-contact .contactform__inner--content form select,
        body.page-template-contact .contactform__inner--content form textarea {
          border: none;
          border-radius: 5px;
          padding: 14px;
          width: 100%; }
        body.page-template-contact .contactform__inner--content form input[type="submit"] {
          color: #fff;
          background-color: #1579C7;
          width: 50%;
          font-weight: 500;
          text-transform: uppercase;
          transition: background-color 0.3s ease-in-out; }
          body.page-template-contact .contactform__inner--content form input[type="submit"]:hover {
            background-color: #1562A3; }
        body.page-template-contact .contactform__inner--content form label {
          font-size: 24px;
          line-height: 200%;
          font-weight: 800; }
        body.page-template-contact .contactform__inner--content form .full-width {
          grid-column: 1 / 3; }

body.page-template-contact .cta-bottom {
  z-index: 1;
  position: relative;
  padding: 300px 40px 200px;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template-contact .cta-bottom {
      padding: 150px 40px 100px; } }
  body.page-template-contact .cta-bottom::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-contact .cta-bottom::after {
        clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%); } }
  body.page-template-contact .cta-bottom__inner {
    margin: auto;
    max-width: 950px;
    text-align: center; }
    body.page-template-contact .cta-bottom__inner--content {
      display: flex;
      flex-flow: column;
      gap: 10px; }

body.page-template-diensten .hero {
  padding: 100px 40px 0;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-diensten .hero {
      padding: 50px 40px 0; } }
  @media (max-width: 767px) {
    body.page-template-diensten .hero {
      padding: 50px 20px 0; } }
  body.page-template-diensten .hero__inner {
    margin: auto;
    max-width: 1200px; }
    body.page-template-diensten .hero__inner--content {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      body.page-template-diensten .hero__inner--content img {
        z-index: 10;
        position: relative; }
        @media (max-width: 1024px) {
          body.page-template-diensten .hero__inner--content img {
            height: 180px; } }

body.page-template-diensten .logo-en-huisstijl {
  margin-top: -260px;
  padding: 350px 40px;
  position: relative;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template-diensten .logo-en-huisstijl {
      padding: 200px 40px 200px;
      margin-top: -160px; } }
  @media (max-width: 767px) {
    body.page-template-diensten .logo-en-huisstijl {
      padding: 200px 20px 200px; } }
  body.page-template-diensten .logo-en-huisstijl::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 150px, 100% calc(100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-diensten .logo-en-huisstijl::after {
        clip-path: polygon(0 0, 100% 100px, 100% calc(100% - 100px), 0% 100%); } }
  body.page-template-diensten .logo-en-huisstijl__inner {
    display: grid;
    margin: auto;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 1024px) {
      body.page-template-diensten .logo-en-huisstijl__inner {
        gap: 20px; } }
    @media (max-width: 767px) {
      body.page-template-diensten .logo-en-huisstijl__inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px; } }
    body.page-template-diensten .logo-en-huisstijl__inner--left {
      display: flex;
      justify-content: center; }
      @media (max-width: 767px) {
        body.page-template-diensten .logo-en-huisstijl__inner--left {
          grid-row: 2; } }
      body.page-template-diensten .logo-en-huisstijl__inner--left img {
        align-self: center;
        max-width: 465px;
        width: 100%;
        height: auto; }
    @media (max-width: 767px) {
      body.page-template-diensten .logo-en-huisstijl__inner--right {
        grid-row: 1; } }
    body.page-template-diensten .logo-en-huisstijl__inner--right p {
      margin: 20px 0 40px; }

body.page-template-diensten .websites {
  padding: 50px 40px;
  position: relative; }
  body.page-template-diensten .websites__inner {
    display: grid;
    margin: auto;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 1024px) {
      body.page-template-diensten .websites__inner {
        gap: 20px; } }
    body.page-template-diensten .websites__inner--left {
      position: relative; }
      body.page-template-diensten .websites__inner--left p {
        margin: 20px 0 40px; }
    body.page-template-diensten .websites__inner--right {
      display: flex;
      justify-content: center; }
      body.page-template-diensten .websites__inner--right img {
        align-self: center;
        max-width: 465px;
        width: 100%;
        height: auto; }

body.page-template-diensten .mobiele-apps {
  color: #fff;
  padding: 250px 40px;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-diensten .mobiele-apps {
      padding: 150px 40px 200px; } }
  body.page-template-diensten .mobiele-apps::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-diensten .mobiele-apps::after {
        clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%); } }
  body.page-template-diensten .mobiele-apps__inner {
    display: grid;
    margin: auto;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr); }
    @media (max-width: 1024px) {
      body.page-template-diensten .mobiele-apps__inner {
        gap: 20px; } }
    body.page-template-diensten .mobiele-apps__inner--left {
      display: flex;
      justify-content: center; }
      body.page-template-diensten .mobiele-apps__inner--left img {
        align-self: center;
        max-width: 465px;
        width: 100%;
        height: auto; }
    body.page-template-diensten .mobiele-apps__inner--right p {
      margin: 20px 0; }
    body.page-template-diensten .mobiele-apps__inner--right a {
      display: inline-block;
      border: 1px solid #222429;
      margin-top: 40px; }

body.page-template.home .hero {
  padding: 0 40px;
  margin-top: -100px;
  position: relative; }
  body.page-template.home .hero__inner {
    display: grid;
    margin: auto;
    max-width: 1200px;
    grid-template-columns: 50% 50%; }
    body.page-template.home .hero__inner--left {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: center; }
    body.page-template.home .hero__inner--right {
      position: relative; }
      body.page-template.home .hero__inner--right img {
        position: relative;
        display: block;
        width: 100%;
        z-index: 10;
        bottom: -200px; }
        @media (max-width: 1024px) {
          body.page-template.home .hero__inner--right img {
            bottom: -125px; } }

body.page-template.home .diensten {
  z-index: 1;
  position: relative;
  padding: 0 0 300px;
  overflow: visible; }
  @media (max-width: 1024px) {
    body.page-template.home .diensten {
      padding: 0 0 150px; } }
  body.page-template.home .diensten .intro {
    z-index: 2;
    color: #fff;
    padding: 200px 40px 250px;
    background-color: #222429;
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 calc(100% - 150px)); }
    @media (max-width: 1024px) {
      body.page-template.home .diensten .intro {
        padding: 150px 40px 150px;
        clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px)); } }
    body.page-template.home .diensten .intro__inner {
      position: relative;
      max-width: 1200px;
      margin: auto; }
      body.page-template.home .diensten .intro__inner--content p {
        max-width: 600px; }
        @media (max-width: 1024px) {
          body.page-template.home .diensten .intro__inner--content p {
            max-width: 100%; } }
  body.page-template.home .diensten::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFBE55;
    clip-path: polygon(0 150px, 100% 0%, 100% calc(100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template.home .diensten::before {
        clip-path: polygon(0 100px, 100% 0%, 100% calc(100% - 100px), 0% 100%); } }
  body.page-template.home .diensten__inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 50px;
    z-index: 2;
    margin: auto;
    max-width: 1200px; }
    body.page-template.home .diensten__inner--diensten {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 100px; }
      @media (max-width: 1024px) {
        body.page-template.home .diensten__inner--diensten {
          gap: 0; } }
      body.page-template.home .diensten__inner--diensten .dienst {
        padding: 0 50px;
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        gap: 18px; }
        @media (max-width: 1024px) {
          body.page-template.home .diensten__inner--diensten .dienst {
            padding: 0 40px; } }
        body.page-template.home .diensten__inner--diensten .dienst .image-box {
          background-color: white;
          border-radius: 100px;
          padding: 50px; }
          @media (max-width: 1024px) {
            body.page-template.home .diensten__inner--diensten .dienst .image-box {
              padding: 35px; } }
          body.page-template.home .diensten__inner--diensten .dienst .image-box img {
            max-width: 100px; }
            @media (max-width: 1024px) {
              body.page-template.home .diensten__inner--diensten .dienst .image-box img {
                max-width: 80px; } }

body.page-template.home .uniek {
  padding: 0 40px;
  z-index: 2;
  position: relative; }
  body.page-template.home .uniek__inner {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    max-width: 1200px; }
    @media (max-width: 1024px) {
      body.page-template.home .uniek__inner {
        padding: 50px 0;
        grid-template-columns: 1fr; } }
    body.page-template.home .uniek__inner--left {
      position: relative; }
      body.page-template.home .uniek__inner--left img {
        position: relative;
        max-width: 818px;
        left: -200px;
        bottom: -250px; }
        @media (max-width: 1024px) {
          body.page-template.home .uniek__inner--left img {
            position: relative;
            max-width: 630px;
            bottom: -50px;
            left: 0;
            right: 0; } }
      @media (max-width: 1024px) {
        body.page-template.home .uniek__inner--left {
          text-align: center;
          grid-row: 2; } }
    body.page-template.home .uniek__inner--right {
      display: flex;
      flex-flow: column;
      gap: 20px; }

body.page-template.home .quotes {
  position: relative;
  padding: 250px 40px;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template.home .quotes {
      margin-top: -180px;
      padding: 250px 40px 150px; } }
  body.page-template.home .quotes::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #222429;
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template.home .quotes::before {
        clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% 100%); } }
  body.page-template.home .quotes__inner {
    position: relative;
    margin: auto;
    max-width: 1200px; }
    body.page-template.home .quotes__inner .quote-person {
      margin: 20px 0 65px; }

body.page-template-over-ons .hero {
  padding: 100px 40px 0;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-over-ons .hero {
      padding: 50px 0 0; } }
  body.page-template-over-ons .hero__inner {
    margin: auto;
    max-width: 1200px; }
    body.page-template-over-ons .hero__inner--content {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      body.page-template-over-ons .hero__inner--content img {
        z-index: 10;
        position: relative; }
        @media (max-width: 1024px) {
          body.page-template-over-ons .hero__inner--content img {
            width: 380px; } }

body.page-template-over-ons .verhaal {
  z-index: 1;
  margin-top: -200px;
  color: white;
  padding: 300px 40px 300px;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-over-ons .verhaal {
      margin-top: -110px;
      padding: 150px 40px 100px; } }
  body.page-template-over-ons .verhaal::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 calc(100% - 150px)); }
    @media (max-width: 1024px) {
      body.page-template-over-ons .verhaal::after {
        clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 calc(100% - 100px)); } }
  body.page-template-over-ons .verhaal__inner {
    max-width: 1200px;
    margin: auto; }
    body.page-template-over-ons .verhaal__inner h1 {
      text-align: center; }
    body.page-template-over-ons .verhaal__inner img {
      max-width: 345px;
      width: 100%;
      object-fit: contain; }
    body.page-template-over-ons .verhaal__inner--top {
      margin: 20px 0;
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 20px; }
      body.page-template-over-ons .verhaal__inner--top p {
        margin-bottom: 20px; }
      body.page-template-over-ons .verhaal__inner--top .left {
        display: flex;
        justify-content: center; }
    body.page-template-over-ons .verhaal__inner--bottom {
      margin: 20px 0;
      display: grid;
      grid-template-columns: 60% 40%;
      gap: 20px; }
      body.page-template-over-ons .verhaal__inner--bottom p {
        margin-bottom: 20px; }
      body.page-template-over-ons .verhaal__inner--bottom .right {
        display: flex;
        justify-content: center; }

body.page-template-over-ons .bedrijfscultuur {
  z-index: -1;
  margin-top: -180px;
  position: relative;
  padding: 200px 40px; }
  body.page-template-over-ons .bedrijfscultuur h1 {
    margin-bottom: 50px;
    text-align: center; }
  body.page-template-over-ons .bedrijfscultuur::after {
    z-index: -1;
    content: '';
    background-color: #FFBE55;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 calc(100% - 150px)); }
    @media (max-width: 1024px) {
      body.page-template-over-ons .bedrijfscultuur::after {
        clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px)); } }
  body.page-template-over-ons .bedrijfscultuur__inner {
    max-width: 1200px;
    margin: auto; }
    body.page-template-over-ons .bedrijfscultuur__inner img {
      width: 100%;
      height: auto; }
    body.page-template-over-ons .bedrijfscultuur__inner--top {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px; }
      body.page-template-over-ons .bedrijfscultuur__inner--top .right {
        display: flex;
        justify-content: center;
        align-items: center; }
    body.page-template-over-ons .bedrijfscultuur__inner--bottom {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px; }

body.page-template-over-ons .team {
  padding: 50px 40px; }
  body.page-template-over-ons .team__inner {
    max-width: 1200px;
    margin: auto; }
    body.page-template-over-ons .team__inner h1 {
      text-align: center; }
    body.page-template-over-ons .team__inner--content {
      margin: 70px 0;
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px;
      row-gap: 40px; }
      body.page-template-over-ons .team__inner--content .teamslid {
        display: flex;
        flex-flow: column; }
        body.page-template-over-ons .team__inner--content .teamslid .teamslid-afbeelding {
          height: 300px;
          width: 300px;
          align-self: center;
          border-radius: 500px;
          object-fit: cover; }
        body.page-template-over-ons .team__inner--content .teamslid .text-block {
          margin-top: 30px;
          display: flex;
          flex-flow: column;
          gap: 10px; }

body.page-template-over-ons .cta-bottom {
  position: relative;
  padding: 300px 0 200px;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template-over-ons .cta-bottom {
      padding: 200px 40px 150px; } }
  body.page-template-over-ons .cta-bottom::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-over-ons .cta-bottom::after {
        clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%); } }
  body.page-template-over-ons .cta-bottom__inner {
    margin: auto;
    max-width: 950px;
    text-align: center; }
    body.page-template-over-ons .cta-bottom__inner--content {
      display: flex;
      flex-flow: column;
      gap: 10px; }

body.page-template-portfolio .hero {
  padding: 100px 40px 0;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-portfolio .hero {
      padding: 50px 40px 0; } }
  body.page-template-portfolio .hero__inner {
    margin: auto;
    max-width: 1200px; }
    body.page-template-portfolio .hero__inner--content {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      body.page-template-portfolio .hero__inner--content img {
        z-index: 10;
        position: relative; }
        @media (max-width: 1024px) {
          body.page-template-portfolio .hero__inner--content img {
            height: 180px; } }

body.page-template-portfolio .intro {
  z-index: 1;
  margin-top: -220px;
  padding: 300px 40px 200px;
  position: relative;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template-portfolio .intro {
      margin-top: -150px;
      padding: 200px 40px 150px; } }
  body.page-template-portfolio .intro::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 150px, 100% calc(100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-portfolio .intro::after {
        clip-path: polygon(0 0, 100% 100px, 100% calc(100% - 100px), 0% 100%); } }
  body.page-template-portfolio .intro__inner {
    margin: auto;
    max-width: 1200px; }
    body.page-template-portfolio .intro__inner h1 {
      text-align: center; }
    body.page-template-portfolio .intro__inner--content {
      position: relative; }
      body.page-template-portfolio .intro__inner--content a {
        margin-top: 30px;
        display: inline-block; }

body.page-template-portfolio .opdrachtgevers {
  z-index: 0;
  margin: -180px 0;
  padding: 300px 40px;
  position: relative; }
  body.page-template-portfolio .opdrachtgevers:after {
    z-index: -1;
    content: '';
    background-color: #FFBE55;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  body.page-template-portfolio .opdrachtgevers__inner {
    display: flex;
    flex-flow: column;
    gap: 80px;
    max-width: 1200px;
    margin: auto;
    text-align: center; }
    @media (max-width: 1024px) {
      body.page-template-portfolio .opdrachtgevers__inner {
        gap: 40px; } }
    body.page-template-portfolio .opdrachtgevers__inner--loop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px; }
      @media (max-width: 1024px) {
        body.page-template-portfolio .opdrachtgevers__inner--loop {
          grid-template-columns: repeat(4, 1fr); } }
      @media (max-width: 767px) {
        body.page-template-portfolio .opdrachtgevers__inner--loop {
          grid-template-columns: repeat(2, 1fr); } }
      body.page-template-portfolio .opdrachtgevers__inner--loop .project {
        margin: auto;
        display: flex;
        height: 200px;
        width: 200px;
        background-color: #fff;
        border-radius: 200px;
        justify-content: center;
        align-items: center; }
        @media (max-width: 1024px) {
          body.page-template-portfolio .opdrachtgevers__inner--loop .project {
            padding: 20px;
            height: 150px;
            width: 150px; } }
        body.page-template-portfolio .opdrachtgevers__inner--loop .project img {
          height: auto;
          width: 100%;
          object-fit: contain; }

body.page-template-portfolio .cta-bottom {
  z-index: 1;
  position: relative;
  padding: 300px 40px 200px;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template-portfolio .cta-bottom {
      padding: 200px 40px 150px; } }
  body.page-template-portfolio .cta-bottom::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-portfolio .cta-bottom::after {
        clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%); } }
  body.page-template-portfolio .cta-bottom__inner {
    margin: auto;
    max-width: 950px;
    text-align: center; }
    body.page-template-portfolio .cta-bottom__inner--content {
      display: flex;
      flex-flow: column;
      gap: 10px; }

body.single-cases .hero {
  padding: 100px 40px 0;
  position: relative; }
  @media (max-width: 1024px) {
    body.single-cases .hero {
      padding: 50px 40px 0; } }
  body.single-cases .hero__inner {
    margin: auto;
    max-width: 1200px; }
    body.single-cases .hero__inner--content {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      body.single-cases .hero__inner--content img {
        height: 350px;
        padding: 40px 80px;
        border-radius: 10px;
        z-index: 10;
        position: relative;
        bottom: -50px;
        background-color: white; }
        @media (max-width: 1024px) {
          body.single-cases .hero__inner--content img {
            height: auto;
            width: 350px; } }

body.single-cases .omschrijving {
  z-index: 1;
  margin-top: -200px;
  padding: 350px 40px 0px;
  position: relative;
  color: #fff; }
  @media (max-width: 1024px) {
    body.single-cases .omschrijving {
      padding: 200px 40px 0px;
      margin-top: -100px; } }
  body.single-cases .omschrijving::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 150px, 100% calc( 100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.single-cases .omschrijving::after {
        clip-path: polygon(0 0, 100% 100px, 100% calc( 100% - 100px), 0% 100%); } }
  body.single-cases .omschrijving__inner {
    display: grid;
    margin: auto;
    max-width: 1200px; }
    body.single-cases .omschrijving__inner--content .omschrijving_screenshot {
      position: relative;
      bottom: -50px; }
      body.single-cases .omschrijving__inner--content .omschrijving_screenshot img {
        width: 100%;
        max-width: 1200px;
        object-fit: cover; }

body.single-cases .project_process {
  margin-top: -350px;
  padding: 450px 40px 200px;
  position: relative; }
  body.single-cases .project_process::after {
    z-index: -1;
    content: '';
    background-color: #FFBE55;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% calc( 100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.single-cases .project_process::after {
        clip-path: polygon(0 0, 100% 0, 100% calc( 100% - 100px), 0% 100%); } }
  body.single-cases .project_process__inner {
    position: relative;
    display: grid;
    margin: auto;
    max-width: 1200px; }
    body.single-cases .project_process__inner h1 {
      margin-bottom: 15px; }
    body.single-cases .project_process__inner .URL-website {
      margin-top: 30px; }
      body.single-cases .project_process__inner .URL-website p {
        margin: 0; }
      body.single-cases .project_process__inner .URL-website a {
        text-decoration: underline; }

body.single-cases .quotes {
  position: relative;
  padding: 100px 40px 300px; }
  @media (max-width: 1024px) {
    body.single-cases .quotes {
      padding: 50px 40px 250px; } }
  body.single-cases .quotes__inner {
    margin: auto;
    max-width: 1200px; }
    body.single-cases .quotes__inner h1 {
      margin-bottom: 15px;
      text-align: center; }

body.single-cases .cta-bottom {
  margin-top: -200px;
  position: relative;
  padding: 300px 40px 200px;
  color: #fff; }
  @media (max-width: 1024px) {
    body.single-cases .cta-bottom {
      padding: 200px 40px 150px; } }
  body.single-cases .cta-bottom::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.single-cases .cta-bottom::after {
        clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%); } }
  body.single-cases .cta-bottom__inner {
    margin: auto;
    max-width: 950px;
    text-align: center; }
    body.single-cases .cta-bottom__inner--content {
      display: flex;
      flex-flow: column;
      gap: 10px; }

body.single-diensten .hero {
  padding: 100px 40px 0;
  position: relative; }
  @media (max-width: 1024px) {
    body.single-diensten .hero {
      padding: 50px 40px 0; } }
  body.single-diensten .hero__inner {
    margin: auto;
    max-width: 1200px; }
    body.single-diensten .hero__inner--content {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      body.single-diensten .hero__inner--content img {
        height: 340px;
        border-radius: 10px;
        z-index: 10;
        position: relative; }
        @media (max-width: 1024px) {
          body.single-diensten .hero__inner--content img {
            height: auto;
            width: 380px; } }

body.single-diensten .intro {
  z-index: 1;
  margin-top: -250px;
  padding: 350px 40px 300px;
  position: relative;
  color: #fff; }
  @media (max-width: 1024px) {
    body.single-diensten .intro {
      padding: 250px 40px 200px;
      margin-top: -180px; } }
  body.single-diensten .intro::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% calc( 100% - 150px)); }
    @media (max-width: 1024px) {
      body.single-diensten .intro::after {
        clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc( 100% - 100px)); } }
  body.single-diensten .intro__inner {
    margin: auto;
    max-width: 1200px; }
    body.single-diensten .intro__inner--content {
      width: 100%; }
      body.single-diensten .intro__inner--content h1 {
        text-align: center; }
      body.single-diensten .intro__inner--content img {
        float: right; }
        @media (max-width: 1024px) {
          body.single-diensten .intro__inner--content img {
            width: 400px; } }
      body.single-diensten .intro__inner--content a {
        text-align: center;
        display: inline-block;
        margin-top: 40px;
        width: 400px; }

body.single-diensten .werkwijze {
  margin-top: -150px;
  padding: 200px 40px;
  position: relative; }
  @media (max-width: 1024px) {
    body.single-diensten .werkwijze {
      padding: 200px 40px 150px; } }
  body.single-diensten .werkwijze::after {
    z-index: -1;
    content: '';
    background-color: #FFBE55;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% calc( 100% - 150px)); }
    @media (max-width: 1024px) {
      body.single-diensten .werkwijze::after {
        clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc( 100% - 100px)); } }
  body.single-diensten .werkwijze__inner {
    position: relative;
    display: grid;
    margin: auto;
    max-width: 1200px; }
    body.single-diensten .werkwijze__inner .center {
      text-align: center;
      margin-bottom: 40px; }
    body.single-diensten .werkwijze__inner .content-blocks {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      row-gap: 30px; }

body.single-diensten .FAQ {
  padding: 50px 0; }
  body.single-diensten .FAQ__inner {
    max-width: 1200px;
    margin: auto; }
    body.single-diensten .FAQ__inner--content {
      position: relative; }
      body.single-diensten .FAQ__inner--content h1 {
        text-align: center;
        margin-bottom: 40px; }
      body.single-diensten .FAQ__inner--content .loop {
        display: flex;
        flex-flow: column; }
        body.single-diensten .FAQ__inner--content .loop .accordion {
          position: relative;
          cursor: pointer;
          padding: 10px 18px;
          width: 100%;
          text-align: left;
          border: none;
          outline: none;
          transition: 0.4s; }
          body.single-diensten .FAQ__inner--content .loop .accordion:after {
            content: "\25BC";
            float: right;
            font-size: 20px;
            margin-left: 5px;
            transition: all 0.4s; }
        body.single-diensten .FAQ__inner--content .loop .active:after {
          content: "\25BC";
          /* Unicode character for "minus" sign (-) */
          transform: rotate(180deg);
          color: #FFBE55; }
        body.single-diensten .FAQ__inner--content .loop .panel {
          padding: 0 18px;
          max-height: 0;
          background-color: white;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out; }
          body.single-diensten .FAQ__inner--content .loop .panel p {
            margin: 0 0 18px; }

body.single-diensten .cta-bottom {
  position: relative;
  padding: 300px 0 200px;
  color: #fff; }
  @media (max-width: 1024px) {
    body.single-diensten .cta-bottom {
      padding: 200px 40px 150px; } }
  body.single-diensten .cta-bottom::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.single-diensten .cta-bottom::after {
        clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%); } }
  body.single-diensten .cta-bottom__inner {
    margin: auto;
    max-width: 950px;
    text-align: center; }
    body.single-diensten .cta-bottom__inner--content {
      display: flex;
      flex-flow: column;
      gap: 10px; }

body.page-template-wmitw .hero {
  padding: 100px 40px 0;
  z-index: 2;
  position: relative; }
  @media (max-width: 1024px) {
    body.page-template-wmitw .hero {
      padding: 50px 40px 0; } }
  body.page-template-wmitw .hero__inner {
    max-width: 1200px;
    margin: auto; }
    body.page-template-wmitw .hero__inner--content {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      body.page-template-wmitw .hero__inner--content .hero_afbeelding {
        display: flex;
        flex-flow: column;
        justify-content: center;
        background-color: #fff;
        padding: 20px 25px;
        height: 320px;
        border: 4px solid #FFBE55;
        border-radius: 500px; }
        @media (max-width: 1024px) {
          body.page-template-wmitw .hero__inner--content .hero_afbeelding {
            height: 185px;
            width: 185px; } }
        body.page-template-wmitw .hero__inner--content .hero_afbeelding img {
          position: relative;
          align-self: center;
          width: 100%; }

body.page-template-wmitw .traject {
  z-index: 1;
  margin-top: -230px;
  padding: 300px 40px;
  position: relative;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template-wmitw .traject {
      padding: 200px 40px;
      margin-top: -150px; } }
  body.page-template-wmitw .traject::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 150px, 100% calc( 100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-wmitw .traject::after {
        clip-path: polygon(0 0, 100% 100px, 100% calc( 100% - 100px), 0% 100%); } }
  body.page-template-wmitw .traject__inner {
    display: grid;
    margin: auto;
    max-width: 1200px; }

body.page-template-wmitw .opleiden {
  padding: 50px 40px; }
  body.page-template-wmitw .opleiden__inner {
    max-width: 1200px;
    margin: auto; }
    body.page-template-wmitw .opleiden__inner--intro {
      margin-bottom: 50px; }
    body.page-template-wmitw .opleiden__inner--loop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      row-gap: 40px; }

body.page-template-wmitw .quote {
  position: relative;
  padding: 300px 40px; }
  @media (max-width: 1024px) {
    body.page-template-wmitw .quote {
      padding: 200px 40px 250px; } }
  body.page-template-wmitw .quote::after {
    z-index: -1;
    content: '';
    background-color: #FFBE55;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% calc( 100% - 150px), 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-wmitw .quote::after {
        clip-path: polygon(0 100px, 100% 0%, 100% calc( 100% - 100px), 0% 100%); } }
  body.page-template-wmitw .quote__inner {
    margin: auto;
    max-width: 1200px; }
    body.page-template-wmitw .quote__inner--content h1 {
      text-align: center; }
    body.page-template-wmitw .quote__inner--content .swiper {
      margin: 0;
      position: relative; }
    body.page-template-wmitw .quote__inner--content .swiper-slide blockquote,
    body.page-template-wmitw .quote__inner--content .swiper-slide h3 {
      opacity: 0;
      display: block;
      width: 100%;
      object-fit: contain; }
    body.page-template-wmitw .quote__inner--content .swiper-slide-active blockquote,
    body.page-template-wmitw .quote__inner--content .swiper-slide-active h3 {
      opacity: 1; }

body.page-template-wmitw .cta-bottom {
  margin-top: -200px;
  position: relative;
  padding: 300px 40px 200px;
  color: #fff; }
  @media (max-width: 1024px) {
    body.page-template-wmitw .cta-bottom {
      padding: 200px 40px 150px; } }
  body.page-template-wmitw .cta-bottom::after {
    z-index: -1;
    content: '';
    background-color: #222429;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%); }
    @media (max-width: 1024px) {
      body.page-template-wmitw .cta-bottom::after {
        clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%); } }
  body.page-template-wmitw .cta-bottom__inner {
    margin: auto;
    max-width: 950px;
    text-align: center; }
    body.page-template-wmitw .cta-bottom__inner--content {
      display: flex;
      flex-flow: column;
      gap: 10px; }
