h1 {
  font-size: 42px;
  line-height: 130%;
  font-weight: 700; }

h2 {
  font-size: 32px;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 800; }

p {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300; }

.p-small {
  font-size: 14px;
  line-height: 150%;
  font-weight: 600; }

.quote {
  font-size: 32px;
  line-height: 150%;
  font-weight: 200; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  position: relative;
  font-family: "Poppins", sans-serif; }

a {
  text-decoration: none; }

.footer-wrapper {
  background: #fff; }
  .footer-wrapper__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 1200px; }
    .footer-wrapper__inner--left {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 20px; }
    .footer-wrapper__inner--right {
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 20px; }

.navbar-wrapper {
  position: relative; }
  .navbar-wrapper__top {
    padding: 25px 0 10px 0;
    text-align: center; }
  .navbar-wrapper__bottom {
    padding: 20px 100px;
    background-color: #FFBE55; }
    .navbar-wrapper__bottom #menu-header-menu {
      display: flex;
      list-style-type: none;
      gap: 50px; }
      .navbar-wrapper__bottom #menu-header-menu li {
        display: inline;
        gap: 50px; }
        .navbar-wrapper__bottom #menu-header-menu li a {
          color: #17181B;
          text-transform: uppercase;
          font-weight: 600; }
