h1 {
  font-size: 42px;
  line-height: 130%;
  font-weight: 700; }

h2 {
  font-size: 32px;
  line-height: 130%;
  font-weight: 700; }

h3 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 800; }

p {
  font-size: 18px;
  line-height: 150%;
  font-weight: 300; }

.p-small {
  font-size: 14px;
  line-height: 150%;
  font-weight: 600; }

.quote {
  font-size: 32px;
  line-height: 150%;
  font-weight: 200; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  position: relative;
  font-family: "Poppins", sans-serif; }

a {
  color: #17181B;
  text-decoration: none; }

.footer {
  position: absolute;
  top: -150px;
  right: 0; }

.cta {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 32px;
  border-radius: 500px;
  font-weight: 500;
  text-transform: uppercase;
  width: 200px;
  height: 200px; }

.button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: 15px 45px;
  border-radius: 10px; }

.yellow {
  background-color: #FFBE55;
  color: #17181B; }

.blue {
  background-color: #1579C7;
  color: #fff; }

.footer-wrapper {
  padding: 55px 0;
  z-index: 1;
  background-color: #fff; }
  .footer-wrapper__inner {
    position: relative;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: auto;
    max-width: 1200px; }
    .footer-wrapper__inner--left {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 20px; }
    .footer-wrapper__inner--right {
      z-index: 1;
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: start;
      padding: 20px;
      gap: 15px; }

.navbar-wrapper {
  position: relative; }
  .navbar-wrapper__top {
    padding: 25px 0 10px 0;
    text-align: center; }
  .navbar-wrapper__bottom {
    padding: 20px 100px;
    background-color: #FFBE55; }
    .navbar-wrapper__bottom--inner {
      margin: auto;
      max-width: 1200px; }
      .navbar-wrapper__bottom--inner #menu-header-menu {
        display: flex;
        list-style-type: none;
        gap: 50px; }
        .navbar-wrapper__bottom--inner #menu-header-menu li {
          display: inline;
          gap: 50px; }
          .navbar-wrapper__bottom--inner #menu-header-menu li a {
            color: #17181B;
            text-transform: uppercase;
            font-weight: 600; }

body.page-template.home .quotes {
  z-index: 1;
  position: relative;
  margin-top: 400px;
  padding: 0 0 250px 0;
  background-color: #222429;
  color: #fff; }
  body.page-template.home .quotes::before {
    z-index: -1;
    position: absolute;
    content: "";
    height: 400px;
    width: 100%;
    left: 0;
    right: 0;
    top: -150px;
    transform: skewY(7deg);
    background-color: #222429; }
  body.page-template.home .quotes__inner {
    margin: auto;
    max-width: 1200px; }
    body.page-template.home .quotes__inner .quote-person {
      margin: 20px 0 80px; }
