body.page-template-contact {

    .hero {
        padding: 100px 40px 0;
        z-index: 2;
        position: relative;

        @media (max-width: $md) {
            padding: 50px 40px 0;
        }   

        @media (max-width: $sm) {
            padding: 50px 20px 0;
        }   

        &__inner {
            max-width: 1200px;
            margin: auto;

            &--content {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                img {
                    position: relative;
                    height: 270px;
                    align-self: center;

                    @media (max-width: $md) {
                        height: auto;
                        width: 385px;
                    } 

                    @media (max-width: $sm) {
                        height: auto;
                        width: 100%;
                    } 
                }
            }
        }
    }

    .contactinfo {
        z-index: 1;
        margin-top: -200px;
        color: $white;
        position: relative;
        padding: 300px 40px 250px;

        @media (max-width: $md) {
            margin-top: -150px;
            padding: 200px 40px 150px;
        } 

        @media (max-width: $sm) {
            margin-top: -100px;
            padding: 150px 20px 150px;
        } 

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 150px, 100% 0%, 100% calc(100% - 150px), 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0%, 100% calc(100% - 100px), 0% 100%);
            }   

            @media (max-width: $sm) {
                clip-path: polygon(0 50px, 100% 0%, 100% calc(100% - 50px), 0% 100%);
            } 
        }

        &__inner {
            max-width: 1200px;
            margin: auto;

            h1 {
                margin-bottom: 40px;
                text-align: center;
            }

            &--content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;  

                @media (max-width: $sm) {
                    row-gap: 40px;
                    grid-template-columns: 1fr;
                } 

                .left {
                    display: flex;
                    position: relative;
                    flex-flow: column;
                    gap: 40px;

                    @media (max-width: $sm) {
                        grid-row: 2;
                    } 

                    .contactgegevens {
                        display: grid;
                        grid-template-columns: 20% 80%;

                        p {
                            margin: 0;
                        }

                        .icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            img {
                                max-height: 50px;
                            }
                        }
                    }
                }

                .right {
                    width: 100%;

                    p {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .contactform {
        z-index: 0;
        margin: -210px 0 0;
        padding: 300px 40px 150px;
        position: relative;

        @media (max-width: $md) {
            padding: 250px 40px 250px;
        } 

        @media (max-width: $sm) {
            padding: 250px 20px 250px;
        } 

        &::after {
            z-index: -1;
            content: '';
            background-color: $yellow;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 150px, 100% 0, 100% 100%, 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
            } 

            @media (max-width: $sm) {
                clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
            } 
        }

        &__inner {
            max-width: 700px;
            margin: auto;

            h1 {
                margin-bottom: 30px;
                text-align: center;
            }

            &--content {
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                div {
                    width: 100%;
                }

                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;

                    @media (max-width: $sm) {
                        display: flex;
                        flex-flow: column;
                    } 

                    input,
                    textarea {
                        border: none;
                        border-radius: 5px;
                        padding: 14px;
                        width: 100%;
                    }

                    select {
                        padding: 14px;
                        border-radius: 5px;
                        width: 100%;
                    }

                    select,
                    input[type="submit"] {
                        height: 44px;
                    }

                    input[type="submit"] {
                        color: $white;
                        background-color: $blue;
                        width: 180px;
                        font-weight: 500;
                        text-transform: uppercase;
                        transition: background-color 0.3s ease-in-out;
                        -webkit-appearance: none;

                        &:hover {
                            background-color: $blue-hover;
                        }
                    }

                    label {
                        font-size: 24px;
                        line-height: 200%;
                        font-weight: 800;
                    }

                    .full-width {
                        grid-column: 1 / 3;
                    }

                    .wpcf7-response-output {
                        margin: 0;
                        height: 44px;
                        grid-column: 1 / 3;
                    }
                }

                form.invalid .wpcf7-response-output {
                    display: flex;
                    align-items: center;
                    border-color: red;
                }

                form.sent .wpcf7-response-output {
                    display: flex;
                    align-items: center;
                    border-color: green;
                }

                form.failed .wpcf7-response-output {
                    display: flex;
                    align-items: center;
                    border-color: red;
                }

            }
        }
    }

    .google-maps {
        z-index: 1;
        position: relative;

        .gmaps-frame {
            z-index: 1;
            width: 100%;
            height: 800px;
        }
    }
}