body.page-template-diensten {

    .hero {
        padding: 100px 40px 0;
        position: relative;

        @media (max-width: $md) {
            padding: 50px 40px 0;
        }

        @media (max-width: $sm) {
            padding: 50px 20px 0;
        }

        &__inner {
            margin: auto;
            max-width: 1200px;

            &--content {
                position: relative;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                img {
                    z-index: 10;
                    position: relative;

                    @media (max-width: $md) {
                        height: 180px;
                    }
                }

            }
        }
    }

    .logo-en-huisstijl {
        margin-top: -260px;
        padding: 350px 40px;
        position: relative;
        color: $white;

        @media (max-width: $md) {
            padding: 200px 40px 200px;
            margin-top: -160px;
        }

        @media (max-width: $sm) {
            padding: 200px 20px 200px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 0, 100% 150px, 100% calc(100% - 150px), 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 0, 100% 100px, 100% calc(100% - 100px), 0% 100%);
            } 

        }

        &__inner {
            display: grid;
            margin: auto;
            max-width: 1200px;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: $md) {
                gap: 20px;
            } 

            @media (max-width: $sm) {
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
            } 

            &--left {
                display: flex;
                justify-content: center;
                
                img {
                    align-self: center;
                    max-width: 465px;
                    width: 100%;
                    height: auto; 
                }
            }

            &--right {

                p {
                    margin: 20px 0 40px;
                }

            }
        }
    }

    .websites {
        padding: 50px 40px;
        position: relative;

        &__inner {
            display: grid;
            margin: auto;
            max-width: 1200px;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: $md) {
                gap: 20px;
            } 

            &--left {
                position: relative;

                p {
                    margin: 20px 0 40px;
                }
            }

            &--right {
                display: flex;
                justify-content: center;
                
                img {
                    align-self: center;
                    max-width: 465px;
                    width: 100%;
                    height: auto; 
                }
            }
        }
    }

    .mobiele-apps {
        color: $white;
        padding: 250px 40px;
        position: relative;

        @media (max-width: $md) {
            padding: 150px 40px 200px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%);
            
            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%);
            } 

        }

        &__inner {
            display: grid;
            margin: auto;
            max-width: 1200px;
            grid-template-columns: repeat(2, 1fr);

            @media (max-width: $md) {
                gap: 20px;
            } 

            &--left {
                display: flex;
                justify-content: center;

                img {
                    align-self: center;
                    max-width: 465px;
                    width: 100%;
                    height: auto; 
                }
            }

            &--right {

                p {
                    margin: 20px 0;
                }

                a {
                    display: inline-block;
                    border: 1px solid $medium-grey;
                    margin-top: 40px;
                }
    
            }
        }
    }
}