body.page-template.home {

    .hero {
        padding: 0 40px;
        margin-top: -100px;
        position: relative;

        &__inner {
            display: grid;
            margin: auto;
            max-width: 1200px;
            grid-template-columns: 50% 50%;

            &--left {
                position: relative;
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                justify-content: center;
            }

            &--right {
                position: relative;

                img {
                    position: relative;
                    display: block;
                    width: 100%;
                    z-index: 10;
                    bottom: -200px;

                    @media (max-width: $md) {
                        bottom: -125px;
                    }
                }
            }
        }
    }

    .diensten {
        z-index: 1;
        position: relative;
        padding: 0 0 300px;
        overflow: visible;

        @media (max-width: $md) {
            padding: 0 0 150px;
        }
        
        .intro {
            z-index: 2;
            color: $white;
            padding: 200px 40px 250px;
            background-color: $medium-grey;
            clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 calc(100% - 150px));

            @media (max-width: $md) {
                padding: 150px 40px 150px;
                clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
            }

            &__inner {
                position: relative;
                max-width: 1200px;
                margin: auto;


                &--content {

                    p {
                        max-width: 600px;

                        @media (max-width: $md) {
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        &::before {
            z-index: -1;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: $yellow;
            clip-path: polygon(0 150px, 100% 0%, 100% calc(100% - 150px), 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0%, 100% calc(100% - 100px), 0% 100%);
            }

        }

        &__inner {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 50px;
            z-index: 2;
            margin: auto;
            max-width: 1200px;

            &--diensten {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 100px;

                @media (max-width: $md) {
                    gap: 0;
                }

                .dienst {
                    padding: 0 50px;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    text-align: center;
                    gap: 18px;

                    @media (max-width: $md) {
                        padding: 0 40px;
                    }

                    .image-box {
                        background-color: white;
                        border-radius: 100px;
                        padding: 50px;

                        @media (max-width: $md) {
                            padding: 35px;
                        }

                        img {
                            max-width: 100px;

                            @media (max-width: $md) {
                                max-width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }

    .uniek {
        padding: 0 40px;
        z-index: 2;
        position: relative;

        &__inner {
            padding: 100px 0;
            display: grid;
            grid-template-columns: 50% 50%;
            margin: auto;
            max-width: 1200px;

            @media (max-width: $md) {
                padding: 50px 0;
                grid-template-columns: 1fr;
            }

            &--left {
                position: relative;

                img {
                    position: relative;
                    max-width: 818px;
                    left: -200px;
                    bottom: -250px;

                    @media (max-width: $md) {
                        position: relative;
                        max-width: 630px;
                        bottom: -50px;
                        left: 0;
                        right: 0;
                    }
                }

                @media (max-width: $md) {
                    text-align: center;
                    grid-row: 2;
                }
            }

            &--right {
                display: flex;
                flex-flow: column;
                gap: 20px;
            }
        }
    }

    .quotes {
        position: relative;
        padding: 250px 40px;
        color: $white;

        @media (max-width: $md) {
            margin-top: -180px;
            padding: 250px 40px 150px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: $medium-grey;
            clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% 100%);
            }
        }

        &__inner {
            position: relative;
            margin: auto;
            max-width: 1200px;

            .quote-person {
                margin: 20px 0 65px;
            }
        }
    }
}