body.page-template-over-ons {

    .hero {
        padding: 100px 40px 0;
        position: relative;

        @media (max-width: $md) {
            padding: 50px 40px 0;
        }

        @media (max-width: $md) {
            padding: 50px 20px 0;
        }

        &__inner {
            margin: auto;
            max-width: 1200px;

            &--content {
                position: relative;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                img {
                    z-index: 10;
                    position: relative;

                    @media (max-width: $md) {
                        width: 380px;
                    }

                    @media (max-width: $sm) {
                        width: 100%;
                    }
                }
            }
        }
    }

    .verhaal {
        z-index: 1;
        margin-top: -200px;
        color: white;
        padding: 300px 40px 300px;
        position: relative;

        @media (max-width: $md) {
            margin-top: -110px;
            padding: 150px 40px 100px;
        }

        @media (max-width: $md) {
            margin-top: -110px;
            padding: 150px 20px 100px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 calc(100% - 150px));

            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 calc(100% - 100px));
            }

            @media (max-width: $sm) {
                clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 calc(100% - 50px));
            }
        }

        &__inner {
            max-width: 1200px;
            margin: auto;
            
            h1 {
                text-align: center;
            }

            img {
                max-width: 345px;
                width: 100%;
                object-fit: contain;
            }

            &--top {
                margin: 20px 0;
                display: grid;
                grid-template-columns: 40% 60%;
                gap: 20px;

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                }

                p {
                    margin-bottom: 20px;
                }

                .left {
                    display: flex;
                    justify-content: center;

                    @media (max-width: $sm) {
                        grid-row: 2;
                    }
                }
            }

            &--bottom {
                margin: 20px 0;
                display: grid;
                grid-template-columns: 60% 40%;
                gap: 20px;

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                }

                p {
                    margin-bottom: 20px;
                }

                .right {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .bedrijfscultuur {
        z-index: -1;
        margin-top: -180px;
        position: relative;
        padding: 200px 40px;

        @media (max-width: $sm) {
            padding: 200px 20px 100px;
        }

        h1 {
            margin-bottom: 50px;
            text-align: center;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $yellow;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 0, 100% 150px, 100% 100%, 0 calc(100% - 150px));

            @media (max-width: $md) {
                clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
            }

            @media (max-width: $sm) {
                clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 calc(100% - 50px));
            }
        }

        &__inner {
            max-width: 1200px;
            margin: auto;

            img {
                width: 100%;
                height: auto;
            }

            &--top {
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 20px;

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                }

                .right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &--bottom {
                margin-top: 30px;
                display: grid;
                grid-template-columns: 50% 50%;
                gap: 20px;

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    .team {
        padding: 50px 40px;

        @media (max-width: $sm) {
            padding: 50px 20px;
        }

        &__inner {
            max-width: 1200px;
            margin: auto;

            h1 {
                text-align: center;
            }

            &--content {
                margin: 70px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                row-gap: 40px;

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                }

                .teamslid {
                    display: flex;
                    flex-flow: column;

                    .teamslid-afbeelding {
                        height: 300px;
                        width: 300px;
                        align-self: center;
                        border-radius: 500px;
                        object-fit: cover;
                    }

                    .text-block {
                        margin-top: 30px;
                        display: flex;
                        flex-flow: column;
                        gap: 10px;
                    }
                }
            }
        }
    }

    .cta-bottom {
        position: relative;
        padding: 300px 0 200px;
        color: $white;

        @media (max-width: $md) {
            padding: 200px 40px 150px;
        }

        @media (max-width: $sm) {
            margin-top: -100px;
            padding: 150px 20px 150px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%);
            }

            @media (max-width: $sm) {
                clip-path: polygon(0 50px, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        &__inner {
            margin: auto;
            max-width: 950px;
            text-align: center;

            &--content {
                display: flex;
                flex-flow: column;
                gap: 10px;
            }
        }
    }

}
