body.page-template-portfolio {

    .hero {
        padding: 100px 40px 0;
        position: relative;

        @media (max-width: $md) {
            padding: 50px 40px 0;
        }

        &__inner {
            margin: auto;
            max-width: 1200px;

            &--content {
                position: relative;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                img {
                    z-index: 10;
                    position: relative;

                    @media (max-width: $md) {
                        height: 180px;
                    }

                    @media (max-width: $sm) {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    .intro {
        z-index: 1;
        margin-top: -220px;
        padding: 300px 40px 200px;
        position: relative;
        color: $white;

        @media (max-width: $md) {
            margin-top: -150px;
            padding: 200px 40px 150px;
        }

        @media (max-width: $sm) {
            margin-top: -100px;
            padding: 200px 20px 150px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 0, 100% 150px, 100% calc(100% - 150px), 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 0, 100% 100px, 100% calc(100% - 100px), 0% 100%);
            } 

            @media (max-width: $sm) {
                clip-path: polygon(0 0, 100% 70px, 100% calc(100% - 70px), 0% 100%);
            } 
    
        }

        &__inner {
            margin: auto;
            max-width: 1200px;

            h1 {
                text-align: center;
            }

            &--content {
                position: relative;

                a {
                    margin-top: 30px;
                    display: inline-block;
                }
            }
        }
    }

    .opdrachtgevers {
        z-index: 0;
        margin: -180px 0;
        padding: 300px 40px;
        position: relative;

        @media (max-width: $sm) {
            margin-top: -100px;
            padding: 300px 20px;
        }

        &:after {
            z-index: -1;
            content: '';
            background-color: $yellow;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &__inner {
            display: flex;
            flex-flow: column;
            gap: 80px;
            max-width: 1200px;
            margin: auto;
            text-align: center;

            @media (max-width: $md) {
                gap: 40px;
            } 

            &--loop {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;

                @media (max-width: $md) {
                    grid-template-columns: repeat(4, 1fr);
                } 

                @media (max-width: $sm) {
                    grid-template-columns: repeat(2, 1fr);
                } 

                .project {
                    margin: auto;
                    display: flex;
                    height: 200px;
                    width: 200px;
                    background-color: $white;
                    border-radius: 200px;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: $md) {
                        padding: 20px;
                        height: 150px;
                        width: 150px;
                    } 

                    img {
                        height: auto;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    
    .cta-bottom {
        z-index: 1;
        position: relative;
        padding: 300px 40px 200px;
        color: $white;

        @media (max-width: $md) {
            padding: 200px 40px 150px;
        }

        @media (max-width: $sm) {
            padding: 200px 20px 150px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%);
            } 
        }

        &__inner {
            margin: auto;
            max-width: 950px;
            text-align: center;

            &--content {
                display: flex;
                flex-flow: column;
                gap: 10px;
            }
        }
    }

}