body.single-diensten {

    .hero {
        padding: 100px 40px 0;
        position: relative;

        @media (max-width: $md) {
            padding: 50px 40px 0;
        }

        @media (max-width: $sm) {
            padding: 50px 20px 0;
        }

        &__inner {
            margin: auto;
            max-width: 1200px;

            &--content {
                position: relative;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                img {
                    height: 340px;
                    border-radius: 10px;
                    z-index: 10;
                    position: relative;

                    @media (max-width: $md) {
                        height: auto;
                        width: 380px;
                    }

                    @media (max-width: $sm) {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    .intro {
        z-index: 1;
        margin-top: -250px;
        padding: 350px 40px 300px;
        position: relative;
        color: $white;

        @media (max-width: $md) {
            padding: 250px 40px 200px;
            margin-top: -180px;
        }

        @media (max-width: $md) {
            padding: 250px 20px 150px;
            margin-top: -180px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% calc( 100% - 150px));

            @media (max-width: $md) {
                clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc( 100% - 100px));
            }

            @media (max-width: $sm) {
                clip-path: polygon(0 0, 100% 50px, 100% 100%, 0% calc( 100% - 50px));
            }
        }

        &__inner {
            margin: auto;
            max-width: 1200px;

            &--content {
                width: 100%;

                h1 {
                    text-align: center;
                }

                img {
                    float: right;

                    @media (max-width: $md) {
                        width: 400px;
                    }
                }

                a {
                    text-align: center;
                    display: inline-block;
                    margin-top: 40px;
                    width: 400px;

                    @media (max-width: $sm) {
                        width: 100%;
                    }
                }

            }
        }
    }

    .werkwijze {
        margin-top: -150px;
        padding: 200px 40px;
        position: relative;

        @media (max-width: $md) {
            padding: 200px 40px 150px;
        }

        @media (max-width: $md) {
            padding: 200px 20px 150px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $yellow;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% calc( 100% - 150px));

            @media (max-width: $md) {
                clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc( 100% - 100px));
            }

            @media (max-width: $sm) {
                clip-path: polygon(0 0, 100% 50px, 100% 100%, 0% calc( 100% - 50px));
            }
        }

        &__inner {
            position: relative;
            display: grid;
            margin: auto;
            max-width: 1200px;

            .center {
                text-align: center;
                margin-bottom: 40px;
            }

            .content-blocks {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
                row-gap: 30px;

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    .FAQ {
        padding: 50px 0;

        &__inner {
            max-width: 1200px;
            margin: auto;

            &--content {
                position: relative;

                h1 {
                    text-align: center;
                    margin-bottom: 40px;
                }

                .loop {
                    display: flex;
                    flex-flow: column;

                    .accordion {
                        position: relative;
                        cursor: pointer;
                        padding: 10px 18px;
                        width: 100%;
                        text-align: left;
                        border: none;
                        outline: none;
                        transition: 0.4s;

                        &:after {
                            content: "\25BC";
                            float: right;
                            font-size: 20px;
                            margin-left: 5px;
                            transition: all 0.4s;
                        }
                    }

                    .active:after {
                        content: "\25BC"; /* Unicode character for "minus" sign (-) */
                        transform: rotate(180deg);
                        color: $yellow;
                    }

                    .panel {
                        padding: 0 18px;
                        max-height: 0;
                        background-color: white;
                        overflow: hidden;
                        transition: max-height 0.3s ease-in-out;
                        
                        p {
                            margin: 0 0 18px;
                        }
                    }
                }

            }
        }
    }

    .cta-bottom {
        position: relative;
        padding: 250px 0 150px;
        color: $white;

        @media (max-width: $md) {
            padding: 150px 40px 100px;
        }

        @media (max-width: $sm) {
            padding: 150px 20px 100px;
        }

        &::after {
            z-index: -1;
            content: '';
            background-color: $medium-grey;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            clip-path: polygon(0 150px, 100% 0%, 100% 100%, 0% 100%);

            @media (max-width: $md) {
                clip-path: polygon(0 100px, 100% 0%, 100% 100%, 0% 100%);
            }

            @media (max-width: $sm) {
                clip-path: polygon(0 50px, 100% 0%, 100% 100%, 0% 100%);
            }
        }

        &__inner {
            margin: auto;
            max-width: 1200px;
            text-align: center;

            &--content {
                display: flex;
                flex-flow: column;
                gap: 10px;

                .swiper-cta {
                    margin: 0;
                    position: relative;
                }
            
                .swiper-slide .slide-content {
                opacity: 0;
                display: block;
                width: 100%;
                object-fit: contain;
                }
    
                .swiper-slide-active .slide-content {
                opacity: 1;

                    a {
                        color: white;
                    }
                }
            }
        }
    }

}